	.a.svelte-xyz ~ .b:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .c:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .e:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .f:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .g:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .h:where(.svelte-xyz) { color: green; }

	.b.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz ~ .e:where(.svelte-xyz) ~ .f:where(.svelte-xyz) ~ .h:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz ~ .d:where(.svelte-xyz) ~ .h:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz ~ .g:where(.svelte-xyz) { color: green; }
