/* headers anchors */

.offset-anchor {
	position: relative;
	display: block;
	top: calc(-1 * (var(--nav-h) + var(--top-offset)) + 11rem);
	width: 0;
	height: 0;
}

.anchor {
	position: absolute;
	display: block;
	background: url(/icons/link.svg) 0 50% no-repeat;
	background-size: 1em 1em;
	width: 1.4em;
	height: 1em;
	top: calc(((var(--h3) - 24px) / 2) + 0.6em);
	left: -1.4em;
	opacity: 0;
	transition: opacity 0.2s;
	border: none !important; /* TODO get rid of linkify */
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
	opacity: 1;
}

/* visually hidden, but accessible to assistive tech */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
