	.a.svelte-xyz + .b.svelte-xyz { color: green; }
	.a.svelte-xyz + .c.svelte-xyz { color: green; }
	.a.svelte-xyz + .d.svelte-xyz { color: green; }
	.b.svelte-xyz + .d.svelte-xyz { color: green; }
	.c.svelte-xyz + .d.svelte-xyz { color: green; }

	/* no match */
	/* (unused) .b + .c { color: green; }*/
