{
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false,
	"singleQuote": true,
	"trailingComma": "all"
}
