# NOTE: In general this should be kept in sync with .eslintignore

packages/**/dist/*.js
packages/**/build/*.js
packages/**/npm/**/*
packages/**/config/*.js
packages/svelte/tests/**/*.svelte
packages/svelte/tests/**/_expected*
packages/svelte/tests/**/_actual*
packages/svelte/tests/**/expected*
packages/svelte/tests/**/_output
packages/svelte/tests/**/shards/*.test.js
packages/svelte/tests/hydration/samples/*/_before.html
packages/svelte/tests/hydration/samples/*/_before_head.html
packages/svelte/tests/hydration/samples/*/_after.html
packages/svelte/tests/hydration/samples/*/_after_head.html
packages/svelte/types
packages/svelte/compiler.cjs
playgrounds/demo/src
playgrounds/sandbox/input/**.svelte
playgrounds/sandbox/output
**/*.md
**/node_modules
**/.svelte-kit
flow-typed
.github/CODEOWNERS
.prettierignore
.eslintignore
pnpm-lock.yaml
pnpm-workspace.yaml
