language: node_js
node_js:
  - "6"
  - "node"

env:
  global:
    - BUILD_TIMEOUT=10000

addons:
  apt:
    packages:
      - xvfb

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install

after_success: npm run codecov
