	/* boundary of each */
	.a.svelte-xyz ~ .d.svelte-xyz.svelte-xyz { color: green; }
	.a.svelte-xyz ~ .e.svelte-xyz.svelte-xyz { color: green; }
	.a.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }
	.a.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .d.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .e.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }

	/* nested boundary of each */
	.j.svelte-xyz ~ .m.svelte-xyz.svelte-xyz { color: green; }
	.j.svelte-xyz ~ .n.svelte-xyz.svelte-xyz { color: green; }
	.j.svelte-xyz ~ .o.svelte-xyz.svelte-xyz { color: green; }
	.k.svelte-xyz ~ .m.svelte-xyz.svelte-xyz { color: green; }
	.k.svelte-xyz ~ .n.svelte-xyz.svelte-xyz { color: green; }
	.k.svelte-xyz ~ .o.svelte-xyz.svelte-xyz { color: green; }
	.l.svelte-xyz ~ .m.svelte-xyz.svelte-xyz { color: green; }
	.l.svelte-xyz ~ .n.svelte-xyz.svelte-xyz { color: green; }
	.l.svelte-xyz ~ .o.svelte-xyz.svelte-xyz { color: green; }

	/* parent each */
	.d.svelte-xyz ~ .e.svelte-xyz.svelte-xyz { color: green; }
	.e.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }

	/* child each */
	.g.svelte-xyz ~ .h.svelte-xyz.svelte-xyz { color: green; }

	/* wrap around */
	.f.svelte-xyz ~ .d.svelte-xyz.svelte-xyz { color: green; }
	.f.svelte-xyz ~ .e.svelte-xyz.svelte-xyz { color: green; }
	.f.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }

	.h.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }
	.i.svelte-xyz ~ .h.svelte-xyz.svelte-xyz { color: green; }
	.i.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }

	/* wrap around self */
	.d.svelte-xyz ~ .d.svelte-xyz.svelte-xyz { color: green; }
	.e.svelte-xyz ~ .e.svelte-xyz.svelte-xyz { color: green; }
	.f.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }
	.g.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }
	.h.svelte-xyz ~ .h.svelte-xyz.svelte-xyz { color: green; }
	.i.svelte-xyz ~ .i.svelte-xyz.svelte-xyz { color: green; }

	/* wrap around self ~ next */
	.e.svelte-xyz ~ .e.svelte-xyz ~ .f.svelte-xyz { color: green; }
	.e.svelte-xyz ~ .e.svelte-xyz ~ .d.svelte-xyz { color: green; }
	.h.svelte-xyz ~ .h.svelte-xyz ~ .i.svelte-xyz { color: green; }
	.h.svelte-xyz ~ .h.svelte-xyz ~ .g.svelte-xyz { color: green; }

	/* general siblings */
	.a.svelte-xyz ~ .h.svelte-xyz.svelte-xyz { color: green; }
	.a.svelte-xyz ~ .i.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .h.svelte-xyz.svelte-xyz { color: green; }
	.c.svelte-xyz ~ .i.svelte-xyz.svelte-xyz { color: green; }
	.d.svelte-xyz ~ .f.svelte-xyz.svelte-xyz { color: green; }
	.d.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }
	.e.svelte-xyz ~ .g.svelte-xyz.svelte-xyz { color: green; }
	.g.svelte-xyz ~ .i.svelte-xyz.svelte-xyz { color: green; }
