
	.svelte-xyz:not(.foo) {
		color: green;
	}
	.svelte-xyz:not(.foo:where(.svelte-xyz)):not(.unused) {
		color: green;
	}
	.x:not(.foo.svelte-xyz) {
		color: green;
	}
	/* (unused) :global(.x) :not(p) {
		color: red;
	}*/
	.x:not(p.svelte-xyz) {
		color: red; /* TODO would be nice to prune this one day */
	}
	.x .svelte-xyz:not(.unused:where(.svelte-xyz)) {
		color: green;
	}
