	div.svelte-xyz {
		color: red;
	}
	h2.svelte-xyz > p:where(.svelte-xyz) {
		color: red;
	}
	h2.svelte-xyz span:where(.svelte-xyz) {
		color: red;
	}
	h2.svelte-xyz > span > b:where(.svelte-xyz) {
		color: red;
	}
	h2.svelte-xyz span:where(.svelte-xyz) b:where(.svelte-xyz) {
		color: red;
	}
	h2.svelte-xyz b:where(.svelte-xyz) {
		color: red;
	}
