	/* boundary of each */
	.a.svelte-xyz ~ .b:where(.svelte-xyz) {
		color: green;
	}
	.c.svelte-xyz ~ .d:where(.svelte-xyz) {
		color: green;
	}
	/* if array is empty */
	.a.svelte-xyz ~ .d:where(.svelte-xyz) {
		color: green;
	}
	/* if array has multiple items */
	.c.svelte-xyz ~ .b:where(.svelte-xyz) {
		color: green;
	}
	/* normal sibling */
	.b.svelte-xyz ~ .c:where(.svelte-xyz) {
		color: green;
	}
	.a.svelte-xyz ~ .c:where(.svelte-xyz) {
		color: green;
	}
