	.a.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz + .c:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.d.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.d.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.e.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.i.svelte-xyz + .j:where(.svelte-xyz) { color: green; }
	.g.svelte-xyz + .h:where(.svelte-xyz) + .j:where(.svelte-xyz) { color: green; }
	.g.svelte-xyz + .i:where(.svelte-xyz) + .j:where(.svelte-xyz) { color: green; }
	.m.svelte-xyz + .m:where(.svelte-xyz) { color: green; }
	.m.svelte-xyz + .l:where(.svelte-xyz) { color: green; }
	.l.svelte-xyz + .m:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .a + .c { color: green; }*/
	/* (unused) .a + .g { color: green; }*/
	/* (unused) .b + .e { color: green; }*/
	/* (unused) .c + .g { color: green; }*/
	/* (unused) .c + .k { color: green; }*/
	/* (unused) .d + .d { color: green; }*/
	/* (unused) .e + .f { color: green; }*/
	/* (unused) .f + .f { color: green; }*/
	/* (unused) .g + .j { color: green; }*/
	/* (unused) .g + .h + .i + .j { color: green; }*/
