	/* boundary of each */
	.a.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .g:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .g:where(.svelte-xyz) { color: green; }

	/* nested boundary of each */
	.j.svelte-xyz + .m:where(.svelte-xyz) { color: green; }
	.j.svelte-xyz + .n:where(.svelte-xyz) { color: green; }
	.j.svelte-xyz + .o:where(.svelte-xyz) { color: green; }
	.k.svelte-xyz + .m:where(.svelte-xyz) { color: green; }
	.k.svelte-xyz + .n:where(.svelte-xyz) { color: green; }
	.k.svelte-xyz + .o:where(.svelte-xyz) { color: green; }
	.l.svelte-xyz + .m:where(.svelte-xyz) { color: green; }
	.l.svelte-xyz + .n:where(.svelte-xyz) { color: green; }
	.l.svelte-xyz + .o:where(.svelte-xyz) { color: green; }

	/* parent each */
	.d.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.e.svelte-xyz + .f:where(.svelte-xyz) { color: green; }

	/* child each */
	.g.svelte-xyz + .h:where(.svelte-xyz) { color: green; }

	/* wrap around */
	.f.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.f.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.f.svelte-xyz + .f:where(.svelte-xyz) { color: green; }

	.h.svelte-xyz + .g:where(.svelte-xyz) { color: green; }
	.i.svelte-xyz + .h:where(.svelte-xyz) { color: green; }
	.i.svelte-xyz + .g:where(.svelte-xyz) { color: green; }

	/* wrap around self */
	.d.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.e.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.f.svelte-xyz + .f:where(.svelte-xyz) { color: green; }
	.g.svelte-xyz + .g:where(.svelte-xyz) { color: green; }
	.h.svelte-xyz + .h:where(.svelte-xyz) { color: green; }
	.i.svelte-xyz + .i:where(.svelte-xyz) { color: green; }

	/* wrap around self + next */
	.e.svelte-xyz + .e:where(.svelte-xyz) + .f:where(.svelte-xyz) { color: green; }
	.e.svelte-xyz + .e:where(.svelte-xyz) + .d:where(.svelte-xyz) { color: green; }
	.h.svelte-xyz + .h:where(.svelte-xyz) + .i:where(.svelte-xyz) { color: green; }
	.h.svelte-xyz + .h:where(.svelte-xyz) + .g:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .a + .h { color: green; }*/
	/* (unused) .a + .i { color: green; }*/
	/* (unused) .c + .h { color: green; }*/
	/* (unused) .c + .i { color: green; }*/
	/* (unused) .d + .f { color: green; }*/
	/* (unused) .d + .g { color: green; }*/
	/* (unused) .e + .g { color: green; }*/
	/* (unused) .g + .i { color: green; }*/
