/.env.local
/.svelte-kit/
/build/
/functions/

/static/svelte-app.json
/scripts/svelte-app/
/src/routes/_components/Supporters/contributors.jpg
/src/routes/_components/Supporters/contributors.js
/src/routes/_components/Supporters/donors.jpg
/src/routes/_components/Supporters/donors.js
.vercel
examples-data.js
type-info.js
