	.a.svelte-xyz ~ .b:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .c:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .d:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .b ~ .c { color: green; }*/
