a.svelte-xyz {
    color: red;
    b:where(.svelte-xyz) {
        color: yellow;
        c:where(.svelte-xyz) {
            color: green;
        }
    }

    b c:where(.svelte-xyz) {
        color: blue;
    }

    b c d:where(.svelte-xyz) {
        color: orange;
    }
}
