
	div[svelte-4188175681], [svelte-4188175681] div {
		color: red;
	}


	div[svelte-146600313], [svelte-146600313] div {
		color: green;
	}


	div[svelte-1506185237], [svelte-1506185237] div {
		color: blue;
	}
