button.svelte-xyz {
    color: red;
    & > div:where(.svelte-xyz) {
        color: blue;
    }
    & .foo:where(.svelte-xyz) {
        color: yellow;
    }
    &:last-child {
        color: green;
    }

    & .bar:where(.svelte-xyz) {
        & .hello:where(.svelte-xyz) {
            color: orange;
        }
    }

    color: black;
}
