  input + div.svelte-xyz { color: red; }
  input ~ div.svelte-xyz { color: red; }
  input + h1.svelte-xyz { color: red; }
  input ~ h1.svelte-xyz { color: red; }
  input + p.svelte-xyz { color: red; }
  input ~ p.svelte-xyz { color: red; }

  /* (unused) :global(input) + span { color: red; }*/
  /* (unused) :global(input) ~ span { color: red; }*/
