
	.before.svelte-xyz + .foo:where(.svelte-xyz) { color: green; }
	.before.svelte-xyz ~ .foo:where(.svelte-xyz) { color: green; }
	.before.svelte-xyz ~ .bar:where(.svelte-xyz) { color: green; }

	.x.svelte-xyz + .foo:where(.svelte-xyz) { color: green; }
	.x.svelte-xyz + .foo:where(.svelte-xyz) span:where(.svelte-xyz) { color: green; }
	.x.svelte-xyz ~ .foo:where(.svelte-xyz) { color: green; }
	.x.svelte-xyz ~ .foo:where(.svelte-xyz) span:where(.svelte-xyz) { color: green; }
	.x.svelte-xyz ~ .bar:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .x + .bar { color: green; }*/
