	@media (min-width: 400px) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}

	@media (min-width: calc(400px + 1px)) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}

	@media (width >= 600px) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}

	@media (400px <= width <= 1000px) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}

	@media (width < clamp(200px, 40%, 400px)) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}

	@media (calc(400px + 1px) <= width <= calc(1000px + 1px)) {
		.large-screen.svelte-xyz {
			display: block;
		}
	}
