
	@keyframes svelte-1647166666-why {
		0% { color: red; }
		100% { color: blue; }
	}

	.animated[svelte-1647166666] {
		animation: svelte-1647166666-why 2s;
	}

	.also-animated[svelte-1647166666] {
		animation: not-defined-here 2s;
	}
