	.a.svelte-xyz + .b:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .c:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .d:where(.svelte-xyz) { color: green; }
	.b.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.d.svelte-xyz + .e:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .a + .e { color: green; }*/
	/* (unused) .b + .c { color: green; }*/
	/* (unused) .c + .d { color: green; }*/
	/* (unused) .b + .d { color: green; }*/
