	@keyframes svelte-xyz-why {
		0% { color: red; }
		100% { color: blue; }
	}

	@-webkit-keyframes svelte-xyz-why {
		0% { color: red; }
		100% { color: blue; }
	}

	@-moz-keyframes svelte-xyz-why {
		0% { color: red; }
		100% { color: blue; }
	}

	@-o-keyframes svelte-xyz-why {
		0% { color: red; }
		100% { color: blue; }
	}

	.animated.svelte-xyz {
		-webkit-animation: svelte-xyz-why 2s;
		animation: svelte-xyz-why 2s;
	}

	.also-animated.svelte-xyz {
		-webkit-animation: not-defined-here 2s;
		animation: not-defined-here 2s;
	}
