	div.svelte-xyz ~ article:where(.svelte-xyz) { color: green; }
	span.svelte-xyz ~ b:where(.svelte-xyz) { color: green; }
	div.svelte-xyz span ~ b:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ article:where(.svelte-xyz) { color: green; }
	div.svelte-xyz ~ .b:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ .c:where(.svelte-xyz) { color: green; }
	article.svelte-xyz ~ details:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz ~ details:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) article ~ div { color: green; }*/
	/* (unused) span ~ article { color: green; }*/
	/* (unused) b ~ article { color: green; }*/
	/* (unused) span ~ div { color: green; }*/
