
	.used1.svelte-xyz { color: green; }
	.used2.svelte-xyz { color: green; }
	.used3.svelte-xyz { color: green; }
	.used4.svelte-xyz { color: green; }
	.used5.svelte-xyz { color: green; }
	.used6.svelte-xyz { color: green; }
	.used7.svelte-xyz { color: green; }
	.used8.svelte-xyz { color: green; }
	.used9.svelte-xyz { color: green; }

	/* (unused) .unused { color: red; }*/
