button.svelte-xyz {
    color: red;
    & > div.svelte-xyz {
        color: blue;
    }
    & .foo.svelte-xyz {
        color: yellow;
    }
    &:last-child {
        color: green;
    }

    color: black;
}