	div.svelte-xyz + article:where(.svelte-xyz) {
		color: green;
	}
	/* (unused) article + div {
		color: green;
	}*/
	/* (unused) span + article {
		color: green;
	}*/
	/* (unused) b + article {
		color: green;
	}*/
	/* (unused) span + div {
		color: green;
	}*/
	span.svelte-xyz + b:where(.svelte-xyz) {
		color: green;
	}
	div.svelte-xyz span + b:where(.svelte-xyz) {
		color: green;
	}
	.a.svelte-xyz + article:where(.svelte-xyz) {
		color: green;
	}
	div.svelte-xyz + .b:where(.svelte-xyz) {
		color: green;
	}
