
	div.svelte-xyz > span:where(.svelte-xyz) {
		color: green;
	}
	div.svelte-xyz span:where(.svelte-xyz) {
		color: green;
	}
	div.svelte-xyz span {
		color: green;
	}
	p.svelte-xyz span:where(.svelte-xyz) {
		color: green;
	}
	/* (unused) p .foo {
		color: red;
	}*/
	/* (unused) span div {
		color: red;
	}*/
