
	.svelte-xyz:not(.foo) {
		color: green;
	}
	.svelte-xyz:not(.unused) {
		color: green;
	}
	.svelte-xyz:not(p) {
		color: red; /* TODO would be nice to mark this as unused someday */
	}

	.svelte-xyz:not(.foo):not(.unused) {
		color: green;
	}

	p.svelte-xyz:not(.foo) {
		color: green;
	}
	/* (unused) p :not(.foo) {
		color: red;
	}*/
	/* (unused) p :not(.unused) {
		color: red;
	}*/
