
	.svelte-xyz:not(.foo:where(.svelte-xyz)) {
		color: green;
	}
	/* (unused) :not(.unused) {
		color: red;
	}*/

	/* (unused) :not(.foo):not(.unused) {
		color: red;
	}*/

	p.svelte-xyz:not(.foo:where(.svelte-xyz)) {
		color: green;
	}
	/* (unused) p :not(.foo) {
		color: red;
	}*/
