
	.d.svelte-xyz + .e:where(.svelte-xyz) { color: green; }
	.a.svelte-xyz + .b:where(.svelte-xyz) { color: green; }
	.c.svelte-xyz + .f:where(.svelte-xyz) { color: green; }

	/* no match */
	/* (unused) .b + .c { color: red; }*/
