.module-name {
	position: relative;
	display: block;
	background-color: #ff00d4;
}

.panel-header {
	/* padding: 0 40px .5em 0; */
	background-color: #ff00d4;
}

.dropdown {
	position: relative;
	display: block;
	float: left;
	padding: 0 2em 0 0;
	background-color: #ff00d4;
}

.dropdown::after {
	content: '▼';
	position: absolute;
	right: 1rem;
	top: .55rem;
	font-size: .8em;
	color: #999;
	pointer-events: none;
	background-color: #ff00d4;
}

.input-wrapper {
	position: relative;
	display: block;
	float: left;
	line-height: 1;
	/* margin: 0 .3em 0 0; */
	background-color: #ff00d4;
}

.file-tabs li.active {
	/* background-color: var(--back-light); */
	background-color: #ff00d4;
}

.widther {
	display: block;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #eee;
	padding: calc(.5em - 1px) .25em;
	line-height: 1;
	background-color: #ff00d4;
}

.file-extension {
	display: inline-block;
	padding: calc(.5em - 1px) 0;
	color: var(--prime);
	left: -.2em;
	pointer-events: none;
	background-color: #ff00d4;
}
